.title {
    text-align: center;
    font-size: 30;
    display: inline;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    margin: 0;
    
}

.body{
    background-color: E0E0E0;
    width: 100%;
    overflow-x: hidden;
    font-family: bold arial, sans-serif; 
}

.header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0px;
    height: 50px;
    width: 100%;
    margin: 0px;
    z-index: 1;
}

.dashboard {
    margin-top: 60px;
    display: block;
    width: 100%;
    height: 94%;
}

.search {
    position: fixed;
    left: 50%;
    transform: translate(-50% , 0%);
    display: block;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

.searchBar {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
.searchButton {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background: #0066A2;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
 .searchButton:hover {
    background: #005485;
  }

.logo {
    height: 30px;
    width: 30px;
    display: inline;
    position: fixed;
    top: 10px;
    left: 10px;
}

.img {
    height: auto;
    width: 100%;
    padding-left: 10px;
}

.img2{
    height: auto;
    width: 100%;
    padding-top: 2%;
    padding-left: 10px;
}

.left {
    padding-top: 70px;
    left: 0;
    width: 25%;
    height: 200%;
    position: fixed;
}

.right {
    padding-top: 70px;
    right: 0;
    width: 25%;
    height: 90%;
    position: fixed;
}

.mid{
    width: 50%;

}

.terms {
    position: absolute;
    display: block;
    margin: 0;
    left: 50%;
    transform: translateX(-50%); 
    white-space: nowrap;
}

.graph {
    position: absolute;
    display: block;
    margin-top: 70%;
    left: 50%;
    transform: translateX(-50%); 
}

.box{
    position: absolute;
    border: 5px black;
    background-color: white;
    width: 15%;
    padding-left: 80%;
    height: 25%;
    margin-top: 10%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #444;
}

.term1{
    margin-top: 15%;
    display: inline;  
}

.term2{
    margin-top: 20%;  
    display: inline;
}

.term3{
    margin-top: 25%; 
    display: inline;
}

.term4{
    margin-top: 30%;
    display: inline;
}

.word1{
    margin-left: -500%;
    font-size: 18;
}

.word2{
    margin-left: 200%;
    font-size: 22;
}

.word3{
    margin-left: -400%;
    font-size: 26;
}

.word4{
    margin-left: 250%;
    font-size: 20;
}

.word5{
    margin-left: -450%;
    font-size: 24;
}

.word6{
    margin-left: 200%;
    font-size: 20;
}

.word7{
    margin-left: -375%;
    font-size: 18;
}

.word8{
    margin-left: 125%;
    font-size: 22;
}

