

.title {
    text-align: center;
    font-size: 32;
    font-family: bold arial, sans-serif; 
    display: inline;
    top: 1%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: fixed;
}

.body{
    background-color: E0E0E0;
}

.header {
    top: 1%;
    position: sticky;
    background-color: white;

}

.dashboard {
    top: 6%;
    position: absolute;
    display: block;
    width: 100%;
    height: 94%;
}

.search {
    position: absolute;
    left: 50%;
    transform: translate(-50% , 0%);
    display: block;
    margin-top: 20px;
}

.searchBar {
    height: 30px; 
    width: 202px; 
    font-size:18;  
    color: #0066A2; 
    cursor: pointer;
}

.searchButton {
    background-image: url("search.svg"); 
    background: #0066A2;
    color: white; 
    border-style: outset; 
    border-color: #0066A2; 
    height: 30px; 
    width: 30px; 
    font-family: bold 15px arial, sans-serif; 
    text-shadow:none; 
    cursor: pointer;
    margin-left: -2%;
    
}

.logo {
    height: 32px;
    width: 32px;
    display: inline;
    position: fixed;
    top: 1%;
}

.img {
    height: auto;
    width: 100%;
}

.img2{
    height: auto;
    width: 100%;

}

.left {
    padding-top: 10%;
    float: left;
    width: 33%;
    height: 100%;
}

.right {
    padding-top: 10%;
    float: right;
    width: 33%;
    height: 100%;
}

.terms {
    display: inline;
}

.graph {
    display: inline;
    margin-top: 50%;
}