*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    max-height: 100vh;
}

header{
    height: 10vh;
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-top: 10px; */
}

.logo {
    /* flex: 1; */
    width: 30px;
    /* padding: 5px; */
    margin-left: 5px;
}

.title{
    flex: 1;
    justify-self: center;
    text-align: center;
    font-family: bold arial, sans-serif; 
    font-size: 30px;
}

.dashboard {
    height: 85vh;
    width: 100%;
    /* border: 1px solid; */
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    display: flex;
    height: 100%;
}

.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
}

.tweet_image {
    width: 100%;
    margin: 10px 0;
    /* border: 1px solid; */
}

.center{
    flex: 2;

}
.search {
    width: fit-content;
    /* border: 1px solid; */
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.searchBar {
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 20px 0 0 20px;
  }
  
.searchButton {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background: #1C9BEB;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
  }
  
 .searchButton:hover {
    background: #005485;
  }

  .searchBar:focus {
      border-color: #1C9BEB;
  }

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: bold arial, sans-serif; 
    text-align: center;
    /* border: 1px solid; */
    margin-top: 10px; 

}

.popular{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.graph{
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.display{
    flex: 1;
    /* margin: 10px; */
}

#search_terms{
    width: 100%;
}

#box{
    width: 100%;

}

footer {
    text-align: center;
    margin: auto;
    width: fit-content;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #444;
}

p {
    display: inline;
}

.term1{
    margin-top: 15%;
}

.term2{
    margin-top: 20%;  
}

.term3{
    margin-top: 25%; 
}

.term4{
    margin-top: 30%;
}

.word1{
    font-size: 26;
}

.word2{
    margin-left: 20%;
    font-size: 18;
}

.word3{
    margin-left: -5%;
    font-size: 20;
}

.word4{
    margin-left: 35%;
    font-size: 22;
}

.word5{
    margin-left: -15%;
    font-size: 20;
}

.word6{
    margin-left: 10%;
    font-size: 20;
}

.word7{
    margin-left: -10%;
    font-size: 22;
}

.word8{
    margin-left: 45%;
}

/*
.box {
position: absolute;
    border: 5px black;
    background-color: grey;
    display: flex;
    width: 95%;
    height: 30%;
    margin-top: 10%;
    right: 10px;
}
*/